<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>628D12FC1D01BF4F00F4B567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>628D13101D01BF4F00F4B567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>628D131B1D01BF4F00F4B567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
